snippet v "Create variable"
my \$${1} = ${2};
endsnippet

snippet pr "Print"
print "${1}\n";
endsnippet

snippet a "Create array"
my @${1} = (${2});
endsnippet

snippet h "Create hash"
my %${1} = (
	${2} => ${3},
);
endsnippet
