snippet d
upright(d)
endsnippet

snippet m "math mode"
$ $1 $
endsnippet

snippet b "bold text"
bold($1)
endsnippet

snippet cen "centering text"
#align(center)[
$1
]
endsnippet

snippet pb

#pagebreak


endsnippet

snippet l "link"
#link("${1:url}")[${2:text}]
endsnippet

snippet t "text"
op("$1")
endsnippet
